{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.status == constant('App\\Entity\\Onboarding\\AbstractOnboardingEntity::STATUS_NEW') %}
        {% set statusClass = 'danger' %}
    {% elseif object.status == constant('App\\Entity\\Onboarding\\AbstractOnboardingEntity::STATUS_COMPLETE') %}
        {% set statusClass = 'success' %}
    {% elseif object.status == constant('App\\Entity\\Onboarding\\AbstractOnboardingEntity::STATUS_COMPLETE_CONFIRMED') %}
        {% set statusClass = 'success' %}
    {% else %}
        {% set statusClass = 'warning' %}
    {% endif %}
    {# @var object \App\Entity\Onboarding\AbstractOnboardingEntity #}
    <span class="text-{{ statusClass }}">
        {{ object.statusLabelKey|trans }}
    </span>
{% endblock %}