<div class="box box-widget">
    <div class="box-header with-border">
        <h1 class="box-title">Kommunale Verwaltungsleistungen in NRW</h1>
    </div>
    <div class="box-body">
        <div style="max-width: 800px">
            <p>Die Zahl der Leistungen, die Kommunen in NRW für Menschen und Organisationen bereithalten, ist immens.
                Eine Methode der Klassifizierung von kommunalen Verwaltungsprozessen ist der Leistungskatalog der deutschen Verwaltung,
                genannt "LeiKa". Im Zuge der Umsetzung des Onlinezugangsgesetzes wurden die Leika-Leistungen in sogenannte OZG-Leistungen
                und OZG-Themenfelder gebündelt. Unserer Datenbank können Sie entnehmen:
            </p>
            <ul>
                <li>welche Leistungen in NRW kommunal sind</li>
                <li>welche Fachämter in der Regel für die Leistung zuständig sind</li>
                <li>wie die Leistungen im OZG-Gesamtumsetzungsplan der Kommunen in NRW priorisiert sind</li>
            </ul>
            <p>
                Die öffentliche Verwaltung entwickelt sich weiter und die Liste der deutschen Verwaltungsleistungen wird kontinuierlich aktualisiert.
            </p>
        </div>
    </div>
</div>