{% block sonata_breadcrumb %}
    {% if _breadcrumb is not empty or action is defined %}
<div id="breadcrumbs" class="hidden-xs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumb" style="background-color:inherit;">
                    <span>
                        <strong>{{ 'app.frontend.you_are_here'|trans }}</strong>
                        {% if _breadcrumb is empty %}
                            {% if action is defined %}
                                {{ app_render_breadcrumbs(admin, action, 'Kdn/Layout/Breadcrumb/breadcrumb-items.html.twig') }}
                            {% endif %}
                        {% else %}
                            {{ _breadcrumb|raw }}
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endif %}
{% endblock sonata_breadcrumb %}