{#
<div id="kdnslider">

    <div class="carousel-inner" role="listbox">

        <div class="carousel-item active">
            <div class="bild-wrapper " style="height:initial;max-height:545px;">


                <img class="img-fluid"
                     src="https://www.kdn.de/index.php?eID=dumpFile&amp;t=p&amp;p=8069&amp;token=d80880f605a259b8e93903c3db3082614351cf57"
                     width="1920" height="545" alt=""/>


                <div class="container-fluid">
                    <div class="info-wrapper">
                        <a href="https://ozg.kdn.de/">
                            <div class="col-12 col-sm-10 col-lg-10">

                                <div class="app-info-box">

                                    <h2 class="app-info-box-content-headline">
                                        Anschluss an das Kommunalportal.NRW
                                    </h2>

                                    <div class="app-info-box-content-text">
                                        <p>In der KDN-Datenbank »OZG NRW kommunal« sind bereits eine Vielzahl
                                            OZG-Projekte, die sich in der Konzeption oder Umsetzung befinden,
                                            hinterlegt. Künftig sollen diese in das Kommunalportal.NRW
                                            integriert werden.</p>
                                    </div>


                                    <div class="more btn">mehr >></div>

                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="info-wrapper-xs">
                    <a href="https://ozg.kdn.de/">
                        <div class="app-info-box">

                            <h2 class="app-info-box-content-headline">
                                Anschluss an das Kommunalportal.NRW
                            </h2>
                            <div class="app-info-box-content-text">
                                <p>In der KDN-Datenbank »OZG NRW kommunal« sind bereits eine Vielzahl
                                    OZG-Projekte, die sich in der Konzeption oder Umsetzung befinden,
                                    hinterlegt. Künftig sollen diese in das Kommunalportal.NRW integriert
                                    werden.</p>
                            </div>

                            <div class="more btn">mehr >></div>

                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>
</div>
#}