<!--Footer Content Footer-->
<script>
    document.querySelector('html').removeAttribute('style');
    document.querySelector('body').removeAttribute('style');
</script>
<div id="footer" class="b-blau">
    <div class="container-fluid">
        <div class="footer-meta">
            <div class="row">

                <div class="col-12 col-md-12 col-lg-5 col-xl-4">
                    <div class="footer-meta-nav">
                        <ul class="nav">


                            <li class="nav-item">
                                <a class="nav-link" href="https://www.kdn.de/kontakt/" title="Kontakt">
                                    Kontakt
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="https://www.kdn.de/datenschutz/" title="Datenschutz">
                                    Datenschutz
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="https://www.kdn.de/impressum/" title="Impressum">
                                    Impressum
                                </a>
                            </li>


                        </ul>
                    </div>
                    {% cache 'app-last-update' {time: 86400} %}
                    <p class="pt-3">© KDN I Letzte Aktualisierung: {{ app_last_update()|date("d.m.Y", "Europe/Berlin") }}</p>
                    {% endcache %}
                </div>


                <div class="col-12 col-sm-6 col-lg-3 col-xl-3">
                    <div class="footer-social-nav">
                        <p>Besuchen Sie uns auf</p>
                        <ul class="nav">

                            <li class="nav-item">
                                <a class="footericon" href="https://twitter.com/KDN_NRW" target="_blank"
                                   title="Twitter">

                                    <img src="https://www.kdn.de/typo3conf/ext/citko_config/Resources/Public/Icons/kdn-footer-tw.svg"
                                         width="40" height="40" alt="">


                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="footericon"
                                   href="https://www.linkedin.com/company/kdn-dachverband-kommunaler-it-dienstleister/?viewAsMember=true"
                                   target="_blank" title="linked.in">


                                    <img src="https://www.kdn.de/typo3conf/ext/citko_config/Resources/Public/Icons/kdn-footer-in.svg"
                                         width="40" height="40" alt="">


                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="footericon" href="http://www.youtube.com/channel/UCaZuqCEG_wTlYXd6rS0AvJA"
                                   target="_blank" title="YouTube">


                                    <img src="https://www.kdn.de/typo3conf/ext/citko_config/Resources/Public/Icons/kdn-youtube.svg"
                                         width="40" height="40" alt="">

                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 col-xl-3">
                    <div class="footer-social-nav">
                        <p>Diese Seite teilen in</p>
                        <ul class="nav">

                            <li class="nav-item">
                                <a class="footericon"
                                   href="https://facebook.com/sharer/sharer.php?u=https://www.kdn.de&amp;src=sdkpreparse"
                                   target="_blank" title="Facebook">

                                    <img src="https://www.kdn.de/typo3conf/ext/citko_config/Resources/Public/Icons/kdn-footer-f.svg"
                                         width="40" height="40" alt="">


                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="footericon" href="https://twitter.com/intent/tweet?text=Die" target="_blank"
                                   title="Twitter">


                                    <img src="https://www.kdn.de/typo3conf/ext/citko_config/Resources/Public/Icons/kdn-footer-tw.svg"
                                         width="40" height="40" alt="">


                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="footericon"
                                   href="http://linkedin.com/shareArticle?mini=true&amp;url=https://www.kdn.de&amp;title=Die"
                                   target="_blank" title="linked.in">


                                    <img src="https://www.kdn.de/typo3conf/ext/citko_config/Resources/Public/Icons/kdn-footer-in.svg"
                                         width="40" height="40" alt="">

                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <button onclick="window.scrollTo(0, 0);" id="topBtn" title="Go to top" style="display: block;"><i class="fa fa-chevron-up"></i></button>
    </div>
</div>