{% apply spaceless %}
<div class="topnav">

    <ul class="nav justify-content-end">

        <li class="nav-item">
            {% if app.user %}
                <a href="{{ path('sonata_admin_dashboard') }}" class="nav-link">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>{{ 'app.menu.dashboard'|trans }}</span>
                </a>
            {% else %}
                <a href="/admin/login" class="nav-link">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    <span>{{ 'app.menu.login_backend'|trans }}</span>
                </a>
            {% endif %}
        </li>

        <li class="nav-item">
            <a class="nav-link" href="https://www.kdn.de/ozg/" title="OZG">
                OZG
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="https://mitgliederportal.kdn.de/display/ONK/FAQ+zu+ozg.kdn.de" title="Hilfe/FAQ">
                Hilfe/FAQ
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="https://www.kdn.de/ozg/informationsverteiler/" title="Informationsverteiler">
                Informationsverteiler
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="https://www.kdn.de/kontakt/" title="Kontakt">
                Kontakt
            </a>
        </li>

    </ul>

</div>
{% endapply %}