<div id="suche">
    {% block sonata_sidebar_search %}
        {% if sonata_admin.adminPool.getOption('search') %}
            <form action="{{ path('app_frontend_global_search') }}" method="GET" class="suchform" role="search" id="global-search-form">
                <button class="btn js-search-toggle" type="submit" id="global-search-submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <div id="suchleiste" style="display:none">
                    <div class="custom-search-form">
                        <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control js-input-form-submit" data-target="global-search-form" placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}">
                    </div>
                </div>
            </form>
        {% endif %}
    {% endblock sonata_sidebar_search %}
</div>