{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="box box-widget">
    <div class="box-header with-border">
        <h1 class="box-title">IT-Lösungen und Online-Dienste der Kommunen in NRW</h1>
    </div>
    <div class="box-body">
        <div style="max-width: 800px">
            <p>Seit vielen Jahren entwickeln und betreiben die Kommunen in NRW und ihre IT-Dienstleister im KDN innovative IT-Lösungen.
                Die Rubrik "Lösungen" gibt Aufschluss darüber:
            </p>
            <ul>
                <li>welche Online-Dienste es bei Kommunen in NRW gibt und wer diese bereitstellt</li>
                <li>welche weiteren lokalen und regionalen Angebote geplant sind (Projekt-Status)</li>
                <li>welche Lösungen zentral angeboten werden</li>
            </ul>
            <p>
                Um im Ergebnis ein leicht auffindbares und vernetztes Gesamtangebot zu ergeben,
                sind diese Leistungen über die Verwaltungssuchmaschine.NRW und den europaweiten Portalverbund miteinander verknüpft.
            </p>
        </div>
    </div>
</div>