{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="box box-widget">
    <div class="box-header with-border">
        <h1 class="box-title">Verwaltungsdigitalisierung und OZG-Umsetzung der Kommunen in NRW</h1>
    </div>
    <div class="box-body">
        <div style="max-width: 800px">
            <p>
                Die Kommunen in NRW und ihre IT-Dienstleister im KDN präsentieren hier ihre Lösungen und
                gemeinsamen Digitalisierungsprojekte zur Umsetzung des Onlinezugangsgesetzes (OZG):
            </p>
            <ul>
                <li>Zuständigkeiten und Beteiligte</li>
                <li>Priorisierungen</li>
                <li>Status-Informationen, zeitliche Planungen, Skizzen und weitere Details</li>
            </ul>
            <p>
                In dieser offen zugänglichen Datenbank finden Sie detaillierte Zahlen und Fakten speziell zur OZG-Umsetzung der Kommunalverwaltungen in NRW.
            </p>
            <h2>Wir alle gestalten die digitale Transformation!</h2>
            <p>
                Jeden Tag arbeiten viele Menschen in den Kommunen in NRW an innovativen Digitalisierungsprojekten.
                Die Fülle an kreativen Herangehensweisen lebt vom Informationsaustausch. Darum erweitern wir diese Datenbank kontinuierlich. Kontaktieren Sie uns gerne bei Hinweisen. Wir freuen uns über Ihre Rückmeldungen!
            </p>
        </div>
    </div>
</div>