
<ul class="sidebar-menu" data-widget="tree">
    {% set menuItems = {
        'implementationproject': {
            'routePrefix': 'frontend_app_implementationproject',
            'label': 'app.implementation_project.list',
            'icon': 'angle-double-right'
        },
        'service_system': {
            'routePrefix': 'frontend_app_servicesystem',
            'label': 'app.service_system.list',
            'icon': 'angle-double-right'
        },
        'service': {
            'routePrefix': 'frontend_app_service',
            'label': 'app.service.frontend.list',
            'icon': 'angle-double-right'
        },
    } %}
    {% include 'Frontend/Admin/Partials/_sidebar-nav-group.html.twig' with {'menuItems': menuItems, 'itemClasses': 'first treeview', 'groupLabel': 'app.menu.ozg_overview'|trans} %}
    {% set menuItems = {
        'model_region': {
            'routePrefix': 'frontend_app_modelregion',
            'label': 'app.model_region.list',
            'icon': 'angle-double-right'
        },
        'moderegionproject': {
            'routePrefix': 'frontend_app_modelregionproject',
            'label': 'app.model_region_project.list',
            'icon': 'angle-double-right'
        },
    } %}
    {% include 'Frontend/Admin/Partials/_sidebar-nav-group.html.twig' with {'menuItems': menuItems, 'itemClasses': 'treeview', 'groupLabel': 'app.menu.digital_model_reqion_group'|trans} %}
    {% set menuItems = {
        'solution': {
            'routePrefix': 'frontend_app_solution',
            'label': 'app.solution.list',
            'icon': 'puzzle-piece'
        },
    } %}

    {% include 'Frontend/Admin/Partials/_sidebar-nav-top-item.html.twig' with {'menuItems': menuItems} %}
    {% set menuItems = {
        'commune': {
            'routePrefix': 'frontend_app_commune',
            'label': 'app.commune.list_fe',
            'icon': 'map-o'
        },
        'vsm_api': {
            'routePrefix': 'frontend_app_vsm_api',
            'defaultRouteAppend': '_index',
            'label': 'app.vsm.list_fe',
            'icon': 'search'
        },
    } %}

    {% include 'Frontend/Admin/Partials/_sidebar-nav-top-item.html.twig' with {'menuItems': menuItems} %}
    <li>
        <a href="https://www.kdn.de/impressum/" target="_blank">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            Impressum
        </a>
    </li>
    <li>
        <a href="https://www.kdn.de/datenschutz/" target="_blank">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            Datenschutz
        </a>
    </li>
</ul>