
<ul class="sidebar-menu" data-widget="tree">
    {% set menuItems = {
        'model_region': {
            'routePrefix': 'frontend_app_modelregion',
            'label': 'app.model_region.list',
            'icon': 'angle-double-right'
        },
        'moderegionproject': {
            'routePrefix': 'frontend_app_modelregionproject',
            'label': 'app.model_region_project.list',
            'icon': 'angle-double-right'
        },
    } %}
    {% include 'Frontend/Admin/Partials/_sidebar-nav-group.html.twig' with {'menuItems': menuItems, 'itemClasses': 'treeview', 'groupLabel': 'app.menu.digital_model_reqion_group'|trans} %}

    <li>
        <a href="https://www.kdn.de/impressum/" target="_blank">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            Impressum
        </a>
    </li>
    <li>
        <a href="https://www.kdn.de/datenschutz/" target="_blank">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            Datenschutz
        </a>
    </li>
</ul>