
{% set activeRoutePrefix = null %}
{% for menuItem in menuItems %}
    {% set miActive = (not activeRoutePrefix or menuItem.routePrefix|length > activeRoutePrefix|length) and menuItem.routePrefix in app.request.attributes.get('_route') %}
    <li class="top-nav-item{% if miActive %} active{% endif %}">
        <a href="{{ path(menuItem.routePrefix ~ '_list') }}" class="nav-link">
            <i class="fa fa-{{ menuItem.icon }}" aria-hidden="true"></i>
            {{ menuItem.label|trans }}
        </a>
        {% if miActive %}
            {% include 'Frontend/Admin/CRUD/menu-datagrid-filter.html.twig' %}
            {% set activeRoutePrefix = menuItem.routePrefix %}
        {% endif %}
    </li>
{% endfor %}