{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
{% apply spaceless %}
    {% if value is empty %}
        &nbsp;
    {% else %}
        {% set linkAddTarget = 1 %}
        {% if field_description.options.url is defined %}
            {# target url is string #}
            {% set url_address = field_description.options.url %}
        {% elseif field_description.options.route is defined and field_description.options.route.name not in ['edit', 'show'] %}
            {# target url is Symfony route #}
            {% set parameters = field_description.options.route.parameters|default([]) %}

            {# route with paramter related to object ID #}
            {% if field_description.options.route.identifier_parameter_name is defined %}
                {% set parameters = parameters|merge({(field_description.options.route.identifier_parameter_name):(admin.normalizedidentifier(object))}) %}
            {% endif %}

            {% if field_description.options.route.absolute|default(false) %}
                {% set url_address = url(field_description.options.route.name, parameters) %}
            {% else %}
                {% set url_address = path(field_description.options.route.name, parameters) %}
            {% endif %}
            {% set linkAddTarget = 0 %}
        {% else %}
            {# value is url #}
            {% set url_address = value %}
        {% endif %}

        {% if field_description.options.hide_protocol|default(false) %}
            {% set value = value|replace({'http://': '', 'https://': ''}) %}
        {% endif %}

        <a
            href="{{ url_address }}"
            {%- for attribute, value in field_description.options.attributes|default([]) %}
                {{ attribute }}="{{ value|escape('html_attr') }}"
                {% if attribute == 'target' %}{% set linkAddTarget = 0 %}{% endif %}
            {%- endfor -%}
            {% if linkAddTarget %} target="_blank"{% endif %}
        >
            <i class="fa fa-external-link" aria-hidden="true"></i>
            <span class="sr-only">{{- value -}}</span>
        </a>
    {% endif %}
{% endapply %}
{% endblock %}
