<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="config/bootstrap.php"
>
    <php>
        <ini name="memory_limit" value="-1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="7.5" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" />
    </php>

    <testsuites>
        <testsuite name="App Backend ApplicationGroup">
            <directory>tests/Controller/Admin/ApplicationGroup</directory>
        </testsuite>
        <testsuite name="App Backend BasicGroup">
            <directory>tests/Controller/Admin/BasicGroup</directory>
        </testsuite>
        <testsuite name="App Backend DigitalModelRegionGroup">
            <directory>tests/Controller/Admin/DigitalModelRegionGroup</directory>
        </testsuite>
        <testsuite name="App Backend EFileGroup">
            <directory>tests/Controller/Admin/EFileGroup</directory>
        </testsuite>
        <testsuite name="App Backend EFileGroup">
            <directory>tests/Controller/Admin/EFileGroup</directory>
        </testsuite>
        <testsuite name="App Backend ImplementationGroup">
            <directory>tests/Controller/Admin/ImplementationGroup</directory>
        </testsuite>
        <testsuite name="App Backend OzgImplementationGroup">
            <directory>tests/Controller/Admin/OzgImplementationGroup</directory>
        </testsuite>
        <testsuite name="App Backend ServiceGroup">
            <directory>tests/Controller/Admin/ServiceGroup</directory>
        </testsuite>
        <testsuite name="App Backend SettingsGroup">
            <directory>tests/Controller/Admin/SettingsGroup</directory>
        </testsuite>
        <testsuite name="App Backend SystemGroup">
            <directory>tests/Controller/Admin/SystemGroup</directory>
        </testsuite>
        <testsuite name="App Frontend">
            <directory>tests/Controller/Frontend</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener">
            <arguments>
                <array>
                    <!-- set this option to 0 to disable the DebugClassLoader integration -->
                    <element key="debug-class-loader"><integer>0</integer></element>
                </array>
            </arguments>
        </listener>
    </listeners>

    <extensions>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
    </extensions>
</phpunit>
