{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{# @var refSettings \App\Model\ReferenceSettings #}
{% set showProjectStatus = true %}
<table class="table table-bordered table-striped table-condensed" data-sortable="true">
    <thead>
        <tr>
            {% include 'General/Show/Table/table-head-implementation-projects.html.twig' %}
        </tr>
    </thead>
    <tbody>
        {% for child in entities %}
            {# @var child \App\Entity\ImplementationProject #}
            <tr>
                {% include 'General/Show/Table/table-row-cells-implementation-projects.html.twig' %}
                {% if refSettings.edit.enabled %}
                    <td>
                        {% include 'General/Show/Partials/link-to-child.html.twig' %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>