{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{# @var refSettings \App\Model\ReferenceSettings #}
<table class="table table-bordered table-striped table-condensed" data-sortable="true">
    <thead>
        <tr>
            {% include 'General/Show/Table/table-head-model-region-projects.html.twig' %}
            {% if refSettings.edit.enabled %}
                <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for child in entities %}
        {# @var child \App\Entity\ModelRegionProject #}
        <tr>
            <td>
                {% include 'General/Show/Partials/link-child-name-show.html.twig' %}
            </td>
            <td>
                {% if child.projectStartAt %}
                    {{ child.projectStartAt|format_datetime('dd.MM.yyyy') }}
                {% endif %}
            </td>
            <td>
                {% if child.projectEndAt %}
                    {{ child.projectEndAt|format_datetime('dd.MM.yyyy') }}
                {% endif %}
            </td>
            <td>
                {% if child.organisations|length > 0 %}
                    {% for organisation in child.organisations %}
                        {# @var organisation \App\Entity\Organisation #}
                        {{ organisation.name }}
                        {% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            </td>
            {% if refSettings.edit.enabled %}
                <td>
                    {% include 'General/Show/Partials/link-to-child.html.twig' %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>