{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{# @var refSettings \App\Model\ReferenceSettings #}
{% if field_description.option('reference_field_list') %}
    {% set referenceFieldNameList = field_description.option('reference_field_list') %}
{% else %}
    {% set referenceFieldNameList = ['name', 'service_key', 'jurisdictions', 'situation', 'subject', 'priority', 'status'] %}
{% endif %}
<table class="table table-bordered table-striped table-condensed" data-sortable="true">
    <thead>
        <tr>
            {% include 'General/Show/Table/table-head-general.html.twig' with {'tableHeaders': referenceFieldNameList, 'labelPrefix': refSettings.labelPrefix} %}
            {% if refSettings.edit.enabled %}
                <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for child in entities %}
        {# @var child \App\Entity\ServiceSystem #}
        <tr>
            {% for field in referenceFieldNameList %}
                {% set property = field|app_format_property_name %}
                <td>
                    {% if property == 'name' %}
                        {% include 'General/Show/Partials/link-child-name-show.html.twig' %}
                    {% elseif property == 'jurisdictions' %}
                        {% for grandChild in child.jurisdictions %}
                            <span class="badge">{{ grandChild.name }}</span>
                        {% endfor %}
                    {% elseif property == 'subject' %}
                        {% if child.situation.subject %}
                            {{ child.situation.subject.name }}
                        {% endif %}
                    {% else %}
                        {% set value = attribute(child, property) %}
                        {{ value|app_format_custom_value }}
                    {% endif %}
                </td>
            {% endfor %}
            {% if refSettings.edit.enabled %}
                <td>
                    {% if refSettings.admin.hasAccess(refSettings.edit.route, child) %}
                        {% if field_description.options.route is defined and field_description.options.route.parameters is defined %}
                            {% set editParameters = field_description.options.route.parameters %}
                        {% else %}
                            {% set editParameters = {'id': child.id} %}
                        {% endif %}
                        <a href="{{ refSettings.admin.generateObjectUrl(refSettings.edit.route, child, editParameters) }}">
                            {% if refSettings.edit.route == 'show' %}
                                <i class="fas fa-eye" aria-hidden="true"></i>
                            {% else %}
                                <i class="fas fa-pen-square" aria-hidden="true"></i>
                            {% endif %}
                        </a>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if field_description.option('show_export') %}
    {% include 'General/Show/Partials/link-child-list-export.html.twig' %}
{% endif %}