{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% if entities|length > 0 %}
    {# @var field_description \Sonata\DoctrineORMAdminBundle\Admin\FieldDescription #}
    {% set showContacts = app_is_backend() %}
    {% if showSolution %}
        {% set tableHeaders = ['name', 'url', 'description'] %}
        {% set labelPrefix = 'app.solution.entity.' %}
        {% set entityClass = 'App\\Entity\\Solution' %}
    {% else %}
        {% if field_description.option('reference_field_list') %}
            {% set tableHeaders = field_description.option('reference_field_list') %}
        {% else %}
            {% set tableHeaders = ['name', 'service_created_at', 'service_key', 'service_type', 'law_shortcuts', 'relevance1', 'relevance2', 'status'] %}
        {% endif %}
        {% set labelPrefix = 'app.service.entity.' %}
        {% set entityClass = 'App\\Entity\\Service' %}
    {% endif %}
    {% set refSettings = app_get_reference_settings(entityClass, field_description) %}
    {# @var refSettings \App\Model\ReferenceSettings #}
    <table class="table table-bordered table-striped table-condensed">
        <tr>
            {% if showSolution %}
                {% include 'General/Show/Table/table-head-solutions.html.twig' with {'tableHeaders': tableHeaders, 'labelPrefix': labelPrefix} %}
            {% else %}
                {% include 'General/Show/Table/table-head-general.html.twig' with {'tableHeaders': tableHeaders, 'labelPrefix': labelPrefix} %}
            {% endif %}
            <th>
                {{ 'app.solution.entity.maturity'|trans }}
                {% include 'MetaData/help-popover.html.twig' with {'objectOrClass': '\App\Entity\ServiceSolution', 'propertyKey': 'maturity'} %}
            </th>
            {% if refSettings.edit.enabled %}
                <th>
                </th>
            {% endif %}
        </tr>
        {% for child in entities %}
            {# @var child \App\Entity\ServiceSolution #}
            <tr>
                {% if showSolution %}
                    {% set editObjectId = child.solution.id %}
                    {% include 'General/Show/Table/table-row-cells-solutions.html.twig' with {'child': child.solution, 'fields': tableHeaders} %}
                {% else %}
                    {% if child.service %}
                        {% set editObjectId = child.service.id %}
                        {% include 'ServiceAdmin/Show/table-row-cells-services.html.twig' with {'child': child.service} %}
                    {% else %}
                        <td colspan="7" class="service-is-missing">
                            <span class="text-warning">{{ 'app.solution.messages.no_service_selected'|trans }}</span>
                        </td>
                        {% set editObjectId = null %}
                    {% endif %}
                {% endif %}
                <td>
                    {% if child.maturity %}
                        {{ child.maturity.name }}
                    {% endif %}
                </td>
                {% if refSettings.edit.enabled and editObjectId %}
                    <td>
                        {% if refSettings.admin.hasAccess(refSettings.edit.route, child) %}
                            <a href="{{ refSettings.admin.generateUrl(refSettings.edit.route, { 'id': editObjectId }) }}">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endif %}