{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{# @var refSettings \App\Model\ReferenceSettings #}
{% set showContacts = app_is_backend() %}
{% set showServices = field_description.options.showServices is defined and field_description.options.showServices %}
<table class="table table-bordered table-striped table-condensed">
    <tr>
        {% include 'General/Show/Table/table-head-solutions.html.twig' %}
        {% if refSettings.edit.enabled %}
            <th></th>
        {% endif %}
    </tr>
    {% for child in entities %}
        {# @var child \App\Entity\Solution #}
        <tr>
            {% include 'General/Show/Table/table-row-cells-solutions.html.twig' %}
            {% if refSettings.edit.enabled %}
                <td>
                    {% include 'General/Show/Partials/link-to-child.html.twig' %}
                </td>
            {% endif %}
        </tr>
        {% if showServices %}
            {% if child.serviceSolutions|length > 0 %}
                <tr>
                    <td colspan="{{ showContacts ? 5 : 4 }}" class="child-table-container">
                        <h4 class="headline"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                            {{ 'app.service.list'|trans }}</h4>
                        {% include 'General/Show/Partials/service-solutions-list.html.twig' with {'entities': child.serviceSolutions, 'showSolution': false} %}
                    </td>
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}
</table>