{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div>
        {# @var object \App\Entity\ImplementationProject #}
        {% for child in object.subjects %}
            {# @var serviceSystem \App\Entity\ServiceSystem #}
            {% if loop.index > 1 %}
                <br>
            {% endif %}
            {{ child.name }}
        {% endfor %}
    </div>
{% endblock %}