{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    {# @var object \App\Entity\ImplementationProject #}
    {% set entities = object.portals %}
    {% if entities|length > 0 %}
    <ul class="sonata-ba-show-many-to-many">
        {# @var field_description \Sonata\DoctrineORMAdminBundle\Admin\FieldDescription #}
        {% set refSettings = app_object_field_description_meta(object, field_description) %}
        {% for child in entities %}
            <li>
                {% if refSettings.edit.enabled and refSettings.admin.hasAccess(refSettings.edit.route, child) %}
                    <a href="{{ refSettings.admin.generateContextObjectUrl(refSettings.edit.route, child, {'id': child.id}) }}">
                        {{ child.name }}
                    </a>
                {% else %}
                    {{ child.name }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}