{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{# @var refSettings \App\Model\ReferenceSettings #}
{% if field_description.option('reference_field_list') %}
    {% set referenceFieldNameList = field_description.option('reference_field_list') %}
{% else %}
    {% set referenceFieldNameList = ['name', 'service_key', 'jurisdictions', 'situation', 'subject', 'priority', 'status'] %}
{% endif %}
<table class="table table-bordered table-condensed" data-sortable="true">
    <thead>
        <tr>
            {% include 'ServiceAdmin/Show/table-head-services.html.twig' %}
            {% if refSettings.edit.enabled %}
                <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for child in entities %}
        {# @var child \App\Entity\Service #}
        <tr>
            {% include 'ServiceAdmin/Show/table-row-cells-services.html.twig' with {'child': child} %}

            {% if refSettings.edit.enabled %}
                <td>
                    {% include 'General/Show/Partials/link-to-child.html.twig' %}
                </td>
            {% endif %}
        </tr>
        {% if field_description.option('showFimTypes') %}
            <tr>
                <td colspan="7" class="child-table-container">
                    {% include 'General/Show/show-fim.html.twig' with {'entities': child.fimTypes} %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% if field_description.option('show_export') %}
    {% include 'General/Show/Partials/link-child-list-export.html.twig' %}
{% endif %}