{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{# @var child \App\Entity\Service #}
{# @var refSettings \App\Model\ReferenceSettings #}
{% if field_description.option('reference_field_list') %}
    {% set referenceFieldNameList = field_description.option('reference_field_list') %}
{% else %}
    {% set referenceFieldNameList = ['name', 'service_created_at', 'service_key', 'service_type', 'law_shortcuts', 'relevance1', 'relevance2', 'status'] %}
{% endif %}
{% for field in referenceFieldNameList %}
    {% set property = field|app_format_property_name %}
    <td>
        {% if property == 'name' %}
            {% include 'General/Show/Partials/link-child-name-show.html.twig' %}
        {% elseif property == 'serviceCreatedAt' %}
            {% include 'ServiceAdmin/Show/show-service-date.html.twig' with {'child': child} %}
        {% elseif property == 'implementationProjects' %}
            {% include 'CommuneAdmin/show-commune-service-implementation-projects.html.twig' with {'child': child} %}
        {% elseif property == 'communeServiceVsmInfo' %}
            {% include 'CommuneAdmin/show-commune-service-vsm-info.html.twig' with {'child': child} %}
        {% elseif property == 'communeServiceSolutions' %}
            {% include 'CommuneAdmin/show-commune-service-solutions.html.twig' with {'child': child} %}
        {% else %}
            {% set value = child|app_attribute_recursive(property) %}
            {{ value|app_format_custom_value }}
        {% endif %}
    </td>
{% endfor %}