

#content {
  background: #ecf0f5;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .content {
    &:not(:first-child) {
      margin-top: 2rem;
    }
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
.app-fe {
  .content-header {
    &:empty {
      margin-bottom: -20px;
      height: 0;
      overflow: hidden;
    }
    .navbar-header {
      flex: 0 0 100%;
      font-size: $h1-font-size;
      float: none;
      margin: 0;
      .navbar-brand {
        color: $primary;
        margin: 0;
        white-space: normal;
        height: auto;
        padding: 15px 0;
      }
    }
    .navbar-collapse {
      flex: 0 0 100%;
    }
    @include media-breakpoint-up(lg) {
      .navbar-header {
        flex: 1 1 auto;
        .navbar-brand {
          display: flex;
          align-items: center;
          padding: 0;
          font-size: 1rem;
        }
      }
      .navbar-collapse {
        flex: 0 1 auto;
      }
    }
  }
  .sonata-ba-show {
    font-size: .875rem;
  }
}

@import "typo";
@import "custom-filter-content";