
.table-sortable {
  th .sort-wrap {
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    display: inline-block;
    &:after {
      color: black;
      line-height: 20px;
      font-size: 20px;
      display: block;
      position: absolute;
      top: 50%;
      right: -12px;
      margin-top: -12px;
    }
  }

  th.sort-asc .sort-wrap:hover:after,
  th.sort-asc.sort-by-active .sort-wrap:after {
  // th.sort-desc.sort-by-active .sort-wrap:hover:after
    content: "↓";
  }

  th.sort-desc .sort-wrap:hover:after,
  th.sort-desc.sort-by-active .sort-wrap:after {
  // th.sort-asc.sort-by-active .sort-wrap:hover:after
    content: "↑";
  }
}