{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
<div>
    {% for serviceSystem in object.serviceSystems %}
        {% if loop.index > 1 %}
            <br>
        {% endif %}
        {{ serviceSystem.name }}
    {% endfor %}
</div>
{% endblock %}