{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'General/Show/show.html.twig' %}

{% block app_show_custom_fields %}
    {{ parent() }}
    {% if elements['formServerSolutions'] is defined %}
        <div class="col-xs-12">
            {% include 'General/Show/show-form-server-solutions.html.twig' with {'entities': object.formServerSolutions, 'showSolution': false} %}
        </div>
    {% endif %}
    {% if elements['serviceSolutions'] is defined %}
        <div class="col-xs-12">
            {% include 'General/Show/show-service-solutions.html.twig' with {'entities': object.serviceSolutions, 'showSolution': false} %}
        </div>
    {% endif %}
{% endblock %}
