{% extends 'General/Show/show.html.twig' %}

{% block show_field %}
    {% if field_name not in ['serviceSystems', 'serviceSolutions'] %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block app_show_custom_fields %}
    {{ parent() }}
    {% if elements['serviceSolutions'] is defined %}
        <div class="col-xs-12">
            {% include 'General/Show/show-service-solutions.html.twig' with {'entities': object.serviceSolutions, 'showSolution': false} %}
        </div>
    {% endif %}
{% endblock %}
