{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="box box-widget">
    <div class="box-header with-border">
        <h1 class="box-title">Gemeinsame Digitalisierungsprojekte der Kommunen in NRW zur Umsetzung des OZG</h1>
    </div>
    <div class="box-body">
        <div style="max-width: 800px">
            <p>Angesichts der großen Aufgabe der Digitalisierung der öffentlichen Verwaltung, arbeiten die Kommunen mit dem Land NRW zusammen,
                eingebettet in bundesweite und sogar europaweite Programme. Die Rubrik "Umsetzungsprojekte" informiert darüber:</p>
            <ul>
                <li>welche gemeinsamen Umsetzungsprojekte bestehen und wer daran beteiligt ist</li>
                <li>was der Stand der Umsetzung ist</li>
                <li>welche Lösung welchen Basisdienst benötigt (Authentifizierungsstufe, Kalender etc.)</li>
            </ul>
            <p>
                Die hier präsentierten, gemeinsam und arbeitsteilig entwickelten Lösungen werden auf zentralen Infrastrukturen bereitgestellt.
                Dies schafft Synergien und fördert die Standardisierung!
            </p>
        </div>
    </div>
</div>