{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'Frontend/Admin/CRUD/list.html.twig' %}

{% block sonata_page_content %}
    <section class="content">
        {% include 'PageContent/Partials/_page_content.html.twig' with {'pageKey': constant('App\\Entity\\PageContent::PAGE_SERVICES')} %}
    </section>
    {{ parent() }}
    <section class="content content-bottom">
        {% set filters = {'jurisdiction': constant('App\\Entity\\Jurisdiction::TYPE_COMMUNE') } %}
        {{ sonata_block_render({ 'type': 'App\\Block\\StatisticsBlock' }, {
            'title': 'app.statistics.service_communal_implementation_status',
            'translation_domain': 'messages',
            'mode': 'admin',
            'filters': filters|json_encode,
            'provider':  'App\\Statistics\\Provider\\ServiceImplementationStatusChartProvider'
        }) }}
    </section>
{% endblock sonata_page_content %}
