{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{# @var object \App\Entity\StateGroup\Commune #}
{% set communeType = object.communeType %}

{% set navTabFields = [{
    key: 'solutions',
    customListTitle: 'app.commune.show.headline.online_solutions'|trans({'commune': object.name}),
    entities: commune_solutions(object, app_is_backend())
},{
    key: 'communeSolutions',
    customListTitle: 'app.commune.show.headline.online_integrations'|trans({'commune': object.name}),
    entities: commune_integrations(object, app_is_backend())
}] %}
{% if communeType is not null %}
    {% set navTabFields = navTabFields|merge([{
        key: 'communeType.serviceSystems',
        customListTitle: 'app.commune_type.show.headline.service_systems'|trans({'communeType': communeType.name})
    },{
        key: 'communeType.services',
        customListTitle: 'app.commune_type.show.headline.services'|trans({'communeType': communeType.name})
    },]) %}
{% endif %}

{% if navTabFields|length > 0 %}
    {# @var communeType \App\Entity\StateGroup\CommuneType #}
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                {% for navFieldInfo in navTabFields %}
                    {% set field_name = navFieldInfo.key %}
                    {% set customListTitle = navFieldInfo.customListTitle %}
                    {% set isActive = loop.first %}
                    {# @var field_description \Sonata\AdminBundle\Admin\BaseFieldDescription #}
                    {% set field_description = elements[field_name] %}
                    {% set refSettings = app_object_field_description_meta(object, field_description) %}
                    {# @var refSettings \App\Model\ReferenceSettings #}
                    <li{% if isActive %} class="active"{% endif %}>
                        {% set tabId = field_description.name|app_format_identifier %}
                        <a href="#show-service-tab-{{ tabId }}" data-toggle="tab">
                            {% include 'General/Show/Partials/show-field-title.html.twig' %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content no-padding">
                {% for navFieldInfo in navTabFields %}
                    {% set field_name = navFieldInfo.key %}
                    {# @var field_description \Sonata\AdminBundle\Admin\BaseFieldDescription #}
                    {% set field_description = elements[field_name] %}
                    {% set isActive = loop.first %}
                    {% set tabId = field_description.name|app_format_identifier %}
                    <div class="{% if isActive %}active {% endif %}tab-pane" id="show-service-tab-{{ tabId }}">
                        {% set refSettings = app_object_field_description_meta(object, field_description) %}
                        {# @var refSettings \App\Model\ReferenceSettings #}
                        {% if navFieldInfo.entities is defined %}
                            {% set entities = navFieldInfo.entities %}
                        {% else %}
                            {% set entities = field_description.value(object) %}
                        {% endif %}
                        {% if entities|length > 0 %}
                            <div class="table-responsive">
                                {% include 'General/Show/Partials/show-record-list.html.twig' %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}