{# @var object \App\Entity\StateGroup\Commune #}
{% if object and child %}
    {% set serviceBaseResult = object.serviceBaseResult(child) %}
    {% if serviceBaseResult %}
        {# @var serviceBaseResult \App\Entity\Api\ServiceBaseResult #}
        {% if serviceBaseResult.communeHasDetails %}
            {% set apiKey = constant('App\\Api\\Consumer\\ApiManager::API_KEY_ZU_FI') %}
            {% set apiArguments = app_get_api_arguments(apiKey, object, child) %}
            {% if apiArguments is not null %}
                {% set isBackendMode = app_is_backend() %}
                {% if isBackendMode %}
                    <a href="{{ path('app_vsm_api_index', apiArguments) }}" target="_blank">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                {% else %}
                {% endif %}
            {% endif %}
        {% else %}
            {# Nicht in VSM #}
        {% endif %}
    {% else %}
        {# Nicht in VSM #}
    {% endif %}
{% endif %}