.box {
  &.box-primary {
    border-color: $blue;
  }
  .nav-tabs-app-custom {
    .nav-tabs {
      padding-left: 15px;
    }
    .tab-content {
      padding: 10px 15px;
    }
  }
  [data-widget="collapse"] {
    cursor: pointer;
    .fa {
      font-size: 12px;
    }
  }
}