// https://material.io/design/color/the-color-system.html#tools-for-picking-colors
// https://gist.github.com/fran-diaz/fd9655ee840408aadb28
.bg-red {
  background-color: $red;
}
.bg-green {
  background-color: $green;
}
.bg-orange {
  background-color: $orange;
}
.bg-light-green-100 {
  background-color: #dcedc8;
}
.bg-light-green-300 {
  background-color: #AED581;
}
.bg-light-green-700 {
  background-color: #689F38;
}
.bg-red-300 {
  background-color: #E57373;
}
.bg-red-700 {
  background-color: #D32F2F;
}
.bg-yellow-300 {
  background-color: #FFF176;
}
.bg-yellow-700 {
  background-color: #FBC02D;
}
.bg-amber-300 {
  background-color: #FFD54F;
}
.bg-amber-700 {
  background-color: #FFA000;
}
.bg-blue-gray-300 {
  background-color: #90A4AE;
}
.bg-blue-gray-700 {
  background-color: #455A64;
}
.bg-gray-300 {
  background-color: #E0E0E0;
}
.bg-gray-700 {
  background-color: #616161;
}