.box-collection-static {
  > .sonata-ba-collapsed-fields > .form-group > .control-label {
    display: none;
  }
  .show-as-headline {
    background: transparent;
    color: #000;
    border-width: 0;
    font-weight: bold;
    padding: 0;
    font-size: 2rem;
    // Hide dropdown arrow
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
  .fim-status {
    + .control-label__text {
      display: inline-block;
      border-radius: 3px;
      padding: 3px 6px;
      background-color: #fff;
    }
    &.fim-status-1 {
      + .control-label__text {
        background-color: $warning;
      }
    }
    &.fim-status-2 {
      + .control-label__text {
        background-color: $yellow;
      }
    }
    &.fim-status-3 {
      + .control-label__text {
        background-color: $success;
      }
    }
    &.fim-status-4 {
      + .control-label__text {
        background-color: $gray-200;
      }
    }
  }
  .sonata-collection-row {
    &:not(:last-child) {
      padding-bottom: 20px;
      border-bottom: 2px solid $gray-200;
      margin-bottom: 20px;
    }
  }
  @media (min-width: 992px) {
    &.two-col {
      &::after {
        content: "";
        display: block;
        clear: both;
      }
      .sonata-collection-row {
        float: left;
        width: calc(50% - 10px);
        padding: 15px;
        border: 2px solid $gray-200;
        margin-bottom: 20px;
        &:nth-child(2n+1) {
          clear: left;
        }
        &:nth-child(2n+2) {
          margin-left: 20px;
        }
      }
    }
  }
}
.collection-item-delete {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-width: 0;
  margin: 0 -10px -10px;
  padding: 5px 10px;
  .checkbox {
    margin: 0;
  }
  &:last-child .form-group {
    margin-bottom: 0;
  }
}
.form-textarea {
  min-height: 160px;
}
.box-clipboard-rows {
  .sonata-collection-row {
    position: relative;
  }
  .block-copy-paste {
    position: absolute;
    right: 15px;
    top: 4px;
    .fa {
      transition: all .2s ease-in-out;
      display: inline-block;
      cursor: pointer;
      color: #666;
      opacity: .8;
      &:not(:last-child) {
        margin-right: 8px;
      }
      &:hover, &:focus {
        color: $blue;
      }
      &.active {
        opacity: 1;
        color: $blue;
      }
      &.disabled {
        cursor: default;
        opacity: .5;
        color: #999;
        &:hover, &:focus {
          color: #999;
        }
      }
    }
    .action-copy {

    }
    .action-paste {

    }
  }
}
.box-collection-table  {
  .sonata-collection-row {
    margin-bottom: 10px;
  }
  @media (min-width: 1200px) {
    .sonata-collection-row {
      margin-bottom: 0;
      border-bottom: 1px solid #ccc;
      &:first-child {
        border-top: 1px solid #ccc;
      }
      &:not(:first-child) {
        .control-label {
          display: none;
        }
      }
      .form-group {
        margin-bottom: 0;
      }
      > .form-group > .sonata-ba-field > div {
        display: flex;
        .form-group {
          padding: 4px;
          border-left: 1px solid #ccc;
          flex: 0 0 25%;
          max-width: 25%;
          &.ct-col-50 {
            flex: 0 0 50%;
            max-width: 50%;
          }
          &.ct-col-75 {
            flex: 0 0 75%;
            max-width: 75%;
          }
          &:last-child {
            border-right: 1px solid #ccc;
          }
        }
      }
    }
  }
}
.box-collection-epayment-projects {

  @media (min-width: 1200px) {
    .sonata-collection-row {
      max-width: 1200px;
      &:nth-child(2n + 3) {
        margin-top: 10px;
        border-top: 1px solid #ccc;
      }
      > .form-group > .sonata-ba-field > div {
        .form-group {
          flex: 0 0 35%;
          max-width: 35%;
          &:nth-child(1),
          &:nth-child(2) {
            flex: 0 0 15%;
            max-width: 15%;
            .control-label {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 400px) {
  .select2-drop {
    max-width: 400px;
  }
}
@media (min-width: 800px) {
  .select2-drop {
    max-width: 600px;
  }
}