.box-group-service-fim {
  > .sonata-ba-collapsed-fields > .form-group > .control-label {
    display: none;
  }
  .show-as-headline {
    background: transparent;
    color: #000;
    border-width: 0;
    font-weight: bold;
    padding: 0;
    font-size: 2rem;
    // Hide dropdown arrow
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
  .fim-status {
    + .control-label__text {
      display: inline-block;
      border-radius: 3px;
      padding: 3px 6px;
      background-color: #fff;
    }
    &.fim-status-1 {
      + .control-label__text {
        background-color: $warning;
      }
    }
    &.fim-status-2 {
      + .control-label__text {
        background-color: $yellow;
      }
    }
    &.fim-status-3 {
      + .control-label__text {
        background-color: $success;
      }
    }
    &.fim-status-4 {
      + .control-label__text {
        background-color: $gray-200;
      }
    }
  }
  .sonata-collection-row {
    &:not(:last-child) {
      padding-bottom: 20px;
      border-bottom: 2px solid $gray-200;
      margin-bottom: 20px;
    }
  }
}
.collection-item-delete {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-width: 0;
  margin: 0 -10px -10px;
  padding: 5px 10px;
  .checkbox {
    margin: 0;
  }
  &:last-child .form-group {
    margin-bottom: 0;
  }
}
@media (min-width: 400px) {
  .select2-drop {
    max-width: 400px;
  }
}
@media (min-width: 800px) {
  .select2-drop {
    max-width: 600px;
  }
}