
body.login-page {
  background-image: url("../images/login-background.jpg");
  background-size: cover;

  .login-box {
    background-color: white;
  }
  .login-logo, .register-logo {
    padding-top: 25px;

    img {
      width: 128px;
      height: auto;
    }
  }
}