.widget-headline {
  font-size: 1.5rem;
  &:first-child {
    margin-top: 0;
  }
  &.wh-bold {
    font-weight: bold;
  }
}
.box-widget {
  .box-footer {
    .description-block {
      display: flex;
      align-items: center;
      max-width: 400px;
    }
    .description-header {
      min-width: 33%;
    }
    .description-text {
      text-transform: none;
      flex: 1 1 auto;
      text-align: left;
    }
  }
}
.widget-user {
  .widget-user-header {
    display: block;
    padding-left: 120px;
    height: auto;
    min-height: 120px;
  }
  .widget-user-image {
    top: 10px;
    left: 10px;
    margin-left: 0;
  }
  .box-img-circle {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  .has-collapse {
    cursor: pointer;
    padding-left: 120px;
    transition: all .2s linear;
    .widget-user-image {
      transition: top .2s linear;
    }
    .box-img-circle {
      transition: all .2s linear;
    }
    &.collapsed {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 70px;
      height: 70px;
      .box-img-circle {
        width: 50px;
        height: 50px;
      }
    }
  }
  .box-footer {
    padding-top: 10px;
  }
}