{% extends '@!SonataAdmin/Menu/sonata_menu.html.twig' %}

{% block label %}
    {% apply spaceless %}
        {%- if is_link|default(false) -%}
            {{ icon|default|raw }}
        {%- endif -%}
        <span class="nav-item-label">
        {# We use method accessor instead of ".label" since `item` implements `ArrayAccess` and could have a property called "label". #}
        {%- set item_label = item.getLabel() -%}
        {%- if options.allow_safe_labels and item.extra('safe_label', false) -%}
            {{ item_label|raw }}
        {%- else -%}
            {%- set translation_domain = item.extra('label_catalogue', 'messages') -%}
            {{ item_label|trans(item.extra('label_translation_parameters', {}), translation_domain) }}
        {%- endif -%}
        </span>
    {% endapply %}
{% endblock %}
