{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{# @var child \App\Entity\Solution #}
{% set createShowLink = refSettings.show.enabled and (refSettings.isBackendMode or child.isPublished) %}
<td>
    {% include 'General/Show/Partials/link-child-name-show.html.twig' with {'displayName': child.displayName} %}
</td>
<td>
    {% if child.url %}
        {{ child.url }}
    {% endif %}
</td>
<td>
    {{ child.description|nl2br }}
</td>
{% if showContacts %}
<td>
    {% set contactCount = child.solutionContacts|length%}
    {% if contactCount > 0 %}
        {% for contact in child.solutionContacts %}
            {# @var contact \App\Entity\Contact #}
            {% if loop.index > 1 %}
                ,
            {% endif %}
            {{ contact ~ '' }}
        {% endfor %}
    {% endif %}
    {% if child.contact %}
        {% if contactCount > 0 %}
            ,
        {% endif %}
        {{ child.contact }}
    {% endif %}
</td>
{% endif %}