{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<th>
    <span class="sort-wrap">{{ 'app.model_region_project.list'|trans }}</span>
    {% if refSettings.entityClass %}
        {% include 'MetaData/help-popover.html.twig' with {'objectOrClass': refSettings.entityClass, 'propertyKey': 'name', 'placement': 'top'} %}
    {% endif %}
</th>
{% set tableHeaders = ['project_start_at', 'project_end_at', 'organisations'] %}
{% include 'General/Show/Table/table-head-general.html.twig' with {'tableHeaders': tableHeaders, 'labelPrefix': refSettings.labelPrefix} %}