{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends base_template %}

{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block sonata_wrapper %}
    <div id="header">
    </div>
    <main class="app-content-wrapper home-content-wrapper">
        {% include 'PageContent/Partials/_page_content.html.twig' with {'pageKey': constant('App\\Entity\\PageContent::PAGE_HOME')} %}
        <div class="image-source">peshkova – stock.adobe.com</div>
    </main>
    {% include 'Kdn/Layout/_footer.twig' %}
{% endblock %}
