{% if showAnswers and object.createdBy != app.user and inquiryAdmin.hasAccess('askQuestion', object) and inquiryAdmin.hasRoute('askQuestion') %}
    <a
    href="{{ inquiryAdmin.generateContextObjectUrl('askQuestion', object, actions.link_parameters|default([])) }}"
    class="link-inline-action link-answer"
    title="{{ 'app.inquiry.actions.ask_question'|trans }}"
    >
        <i class="fas fa-reply" aria-hidden="true"></i>
        <span class="sr-only">{{ 'app.inquiry.actions.ask_question'|trans }}</span>
</a>
{% endif %}