
{% if inquiryAdmin.hasAccess('edit', object) and inquiryAdmin.hasRoute('edit') %}
    <a
        href="{{ inquiryAdmin.generateObjectUrl('edit', object, actions.link_parameters|default([])) }}"
        class="link-inline-action edit_link"
        title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}"
    >
        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
    </a>
{% endif %}

{% if inquiryAdmin.hasAccess('delete', object) and inquiryAdmin.hasRoute('delete') %}
    <a
        href="{{ inquiryAdmin.generateObjectUrl('delete', object, actions.link_parameters|default([])) }}"
        class="link-inline-action delete_link"
        title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}"
    >
        <i class="fas fa-trash" aria-hidden="true"></i>
    </a>
{% endif %}
