{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'Frontend/Admin/CRUD/list.html.twig' %}

{% block sonata_page_content %}
    <section class="content">
        {% if filterSubject is defined and filterSubject is not null %}
            {% include 'ImplementationProjectAdmin/list-subject-header-content.html.twig' with {'subject': filterSubject} %}
        {% else %}
            {% include 'PageContent/Partials/_page_content.html.twig' with {'pageKey': constant('App\\Entity\\PageContent::PAGE_IMPLEMENTATION_PROJECTS')} %}
        {% endif %}
    </section>
    <div class="mb-chart-container" id="container-project-timeline" data-url="{{ path('frontend_app_implementationproject_timeline') }}">
        <section class="content">
            <div class="box box-widget box-page-content">
                <div class="box-header with-border">
                    <h3>{{ 'app.implementation_project.frontend.tab_commissioning_schedule'|trans }}</h3>
                </div>
                <div class="box-body no-padding">
                    <div class="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {{ parent() }}
    {% if filterSubject is defined and filterSubject is not null %}
    {% else %}
        <section class="content content-bottom">
            {{ sonata_block_render({ 'type': 'App\\Block\\StatisticsBlock' }, {
                'title': 'app.statistics.implementation_project_status',
                'translation_domain': 'messages',
                'mode': 'admin',
                'provider':  'App\\Statistics\\Provider\\ImplementationProjectStatusChartProvider'
            }) }}
        </section>
    {% endif %}
{% endblock sonata_page_content %}
