{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'Frontend/Admin/CRUD/list.html.twig' %}

{% block sonata_page_content %}
    <section class="content">
        {% if filterSubject is defined and filterSubject is not null %}
            {% include 'ImplementationProjectAdmin/list-subject-header-content.html.twig' with {'subject': filterSubject} %}
        {% else %}
            {% include 'PageContent/Partials/_page_content.html.twig' with {'pageKey': constant('App\\Entity\\PageContent::PAGE_IMPLEMENTATION_PROJECTS')} %}
        {% endif %}
    </section>
    {{ parent() }}
    {% if filterSubject is defined and filterSubject is not null %}
    {% else %}
        <section class="content content-bottom">
            {{ sonata_block_render({ 'type': 'App\\Block\\StatisticsBlock' }, {
                'title': 'app.statistics.implementation_project_status',
                'translation_domain': 'messages',
                'mode': 'admin',
                'provider':  'App\\Statistics\\Provider\\ImplementationProjectStatusChartProvider'
            }) }}
        </section>
    {% endif %}
{% endblock sonata_page_content %}
