{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    {% set route_name = field_description.options.route.name %}
    {% if value|length > 0 %}

        <table class="table table-bordered table-condensed">
            <tr>
                {% include 'General/Show/Table/tabe-head-solutions.html.twig' %}
            </tr>
            {% for element in value %}
                {# @var element \App\Entity\Solution #}
                <tr>
                    {% set editUrl = null %}
                    {% if field_description.hasassociationadmin
                        and field_description.associationadmin.hasRoute(route_name)
                        and field_description.associationadmin.hasAccess(route_name, element) %}
                        {% set editUrl = field_description.associationadmin.generateObjectUrl(route_name, element, field_description.options.route.parameters) %}
                    {% else %}
                        {{ element|render_relation_element(field_description) }}
                    {% endif %}
                    {% include 'General/Show/Table/tabe-row-cells-solutions.html.twig' with {'child': element, 'elementUrl': editUrl} %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}