{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% if entities|length > 0 %}
    {# @var field_description \Sonata\DoctrineORMAdminBundle\Admin\FieldDescription #}
    {% set refFieldDesc = field_description is defined ? field_description : null %}
    {% set refSettings = app_get_reference_settings('App\\Entity\\Solution', admin.appContext, refFieldDesc) %}
    {# @var refSettings \App\Model\ReferenceSettings #}
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title">
                {{ refSettings.listTitle|trans }}
            </h4>
        </div>
        {% set showContacts = refSettings.isBackendMode %}
        {% set showServices = field_description.options.showServices is defined and field_description.options.showServices %}
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-condensed">
                <tr>
                    {% include 'General/Show/Table/table-head-solutions.html.twig' %}
                    {% if refSettings.edit.enabled %}
                        <th></th>
                    {% endif %}
                </tr>
                {% for child in entities %}
                    {# @var child \App\Entity\Solution #}
                    <tr>
                        {% include 'General/Show/Table/table-row-cells-solutions.html.twig' %}
                        {% if refSettings.edit.enabled %}
                            <td>
                                {% include 'General/Show/Partials/link-to-child.html.twig' %}
                            </td>
                        {% endif %}
                    </tr>
                    {% if showServices %}
                        {% if child.serviceSolutions|length > 0 %}
                            <tr>
                                <td colspan="{{ showContacts ? 5 : 4 }}" class="child-table-container">
                                    <h4 class="headline"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        {{ 'app.service.list'|trans }}</h4>
                                    {% include 'General/Show/Partials/service-solutions-list.html.twig' with {'entities': child.serviceSolutions, 'showSolution': false} %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}