{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% if entities|length > 0 %}
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="field-label box-title">
                {% if showSolution %}
                    {{ 'app.solution.list'|trans }}
                {% else %}
                    {{ 'app.service.list'|trans }}
                {% endif %}
                {% if fieldMetaHelp is defined %}{{ fieldMetaHelp|raw }}{% endif %}
            </h4>
        </div>
        <div class="box-body table-responsive no-padding">
            {% include 'General/Show/Partials/service-solutions-list.html.twig' %}
        </div>
    </div>
{% endif %}