{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% if entities|length > 0 %}
    {# @var field_description \Sonata\DoctrineORMAdminBundle\Admin\FieldDescription #}
    {% set refFieldDesc = field_description is defined ? field_description : null %}
    {% set refSettings = app_get_reference_settings('App\\Entity\\Service', refFieldDesc) %}
    {# @var refSettings \App\Model\ReferenceSettings #}
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title">
                {{ refSettings.listTitle|trans }}
            </h4>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-condensed">
                <tr>
                    {% include 'General/Show/Table/table-head-services.html.twig' %}
                    {% if refSettings.edit.enabled %}
                    <th></th>
                    {% endif %}
                </tr>
                {% for child in entities %}
                    {# @var child \App\Entity\Service #}
                    <tr>
                        {% include 'General/Show/Table/table-row-cells-services.html.twig' with {'child': child} %}

                        {% if refSettings.edit.enabled %}
                            <td>
                                {% include 'General/Show/Partials/link-to-child.html.twig' %}
                            </td>
                        {% endif %}
                    </tr>
                    {% if field_description.option('showFimTypes') %}
                        <tr>
                            <td colspan="7" class="child-table-container">
                                <h4 class="headline"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    {{ 'app.service.fim.object_name'|trans }}</h4>
                                <div class="child-item-list">
                                    {% include 'General/Show/Partials/show-fim-list.html.twig' with {'entities': child.fimTypes} %}
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}