{% if object.solutions|length > 0 %}
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title">
                {{ 'app.solution.list'|trans }}
            </h4>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-condensed">
                <tr>
                    {% include 'General/Show/Table/tabe-head-services.html.twig' %}
                </tr>
                {% for child in object.solutions %}
                    {# @var child \App\Entity\Solution #}
                    <tr>
                        {% include 'General/Show/Table/tabe-row-cells-solutions.html.twig' with {'child': child} %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}