{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% if entities|length > 0 or showHasAll %}
    {% set refFieldDesc = field_description is defined ? field_description : null %}
    {% set refSettings = app_get_reference_settings('App\\Entity\\Commune', refFieldDesc) %}
    {# @var refSettings \App\Model\ReferenceSettings #}
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title">
                {{ refSettings.listTitle|trans }}
            </h4>
        </div>
        {% if showHasAll %}
            <div class="box-body">
                <em>{{ 'app.solution.entity.commune_type_all'|trans }}</em>
            </div>
        {% else %}
            <div class="box-body table-responsive no-padding">
                <table class="table table-bordered table-condensed">
                    <tr>
                        {% include 'General/Show/Table/table-head-communes.html.twig' %}
                        {% if refSettings.edit.enabled %}
                            <th></th>
                        {% endif %}
                    </tr>
                    {% for child in entities %}
                        {# @var child \App\Entity\StateGroup\Commune #}
                        {% include 'General/Show/Table/table-row-cells-communes.html.twig' with {'child': child} %}
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
{% endif %}

