
{% if object.services|length > 0 %}
    {# @var field_description \Sonata\DoctrineORMAdminBundle\Admin\FieldDescription #}
    {% set route_name = field_description.options.route.name %}
    {% set createEditLink = route_name and field_description.hasassociationadmin
        and field_description.associationadmin.hasRoute(route_name) and field_description.associationadmin.hasAccess(route_name) %}
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title">
                {{ 'app.service.list'|trans }}
            </h4>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-condensed">
                <tr>
                    {% include 'General/Show/Table/tabe-head-services.html.twig' %}
                    {% if createEditLink %}
                    <th></th>
                    {% endif %}
                </tr>
                {% for child in object.services %}
                    {# @var child \App\Entity\Service #}
                    <tr>
                        {% include 'General/Show/Table/tabe-row-cells-services.html.twig' with {'child': child} %}
                        {% if createEditLink %}
                        <td>
                            {% if field_description.associationadmin.hasAccess(route_name, child) %}
                                <a href="{{ field_description.associationadmin.generateObjectUrl(route_name, child, field_description.options.route.parameters) }}">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}