{% if entities|length > 0 %}
    {# @var field_description \Sonata\DoctrineORMAdminBundle\Admin\FieldDescription #}
    {% set refAdmin = null %}
    {% set isAdminMode = (admin is defined and admin.appContext == 'backend') and admin_pool is defined %}
    {% if not field_description.hasassociationadmin %}
        {% if isAdminMode %}
            {% set refAdmin = admin_pool.getAdminByAdminCode('App\\Admin\\SolutionAdmin') %}
        {% else %}
            {% set refAdmin = admin_pool.getAdminByAdminCode('App\\Admin\\Frontend\\SolutionAdmin') %}
        {% endif %}
    {% else %}
        {% set refAdmin = field_description.associationadmin %}
    {% endif %}
    {% set editRouteName = field_description.options.route.name %}
    {% set createEditLink = editRouteName and refAdmin is not null and refAdmin.hasRoute(editRouteName) and refAdmin.hasAccess(editRouteName) %}
    {% set showRouteName = 'show' %}
    {% set listEnableShowLink = refAdmin is not null and refAdmin.hasRoute(showRouteName) and refAdmin.hasAccess(showRouteName) %}
<div class="box box-primary">
    <div class="box-header">
        <h4 class="box-title">
            {{ 'app.solution.list'|trans }}
        </h4>
    </div>
    <div class="box-body table-responsive no-padding">
        <table class="table table-bordered table-condensed">
            <tr>
                {% include 'General/Show/Table/tabe-head-solutions.html.twig' %}
                {% if createEditLink %}
                    <th></th>
                {% endif %}
            </tr>
            {% for child in entities %}
                {# @var child \App\Entity\Solution #}
                {% set createShowLink = listEnableShowLink and (isAdminMode or child.isPublished) %}
                <tr>
                    {% include 'General/Show/Table/tabe-row-cells-solutions.html.twig' %}
                    {% if createEditLink %}
                        <td>
                            {% if refAdmin.hasAccess(editRouteName, child) %}
                                {% if field_description.options.route.parameters %}
                                    {% set editParameters = field_description.options.route.parameters %}
                                {% else %}
                                    {% set editParameters = {'id': child.id} %}
                                {% endif %}
                                <a href="{{ refAdmin.generateObjectUrl(editRouteName, child, editParameters) }}">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}